.u-center-text {
  text-align: center;
}

.u-mt-big {
  margin-top: 8rem;
}

.u-mt-huge {
  margin-top: 10rem;
}

.u-mb-big {
  margin-bottom: 8rem;
}

.u-mb-medium {
  margin-bottom: 4rem;
}

.u-mb-small {
  margin-bottom: 1.5rem;
}
